.main {
    &_layout {
        height: 100vh;
        width: 100vw;
    }

    &_header {
        height: 4rem;
        background-color: #00b380;
        padding: 1rem 0;

        &_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 0 1rem;
        }

        &_logo {
            height: 3rem;
        }
        &_icon {
            font-size: 2.4rem;
            color: #ffffff;
            line-height: 3rem;

            @media (min-width: 768px) {
                display: none;
            }
        }
        &_nav {
            position: absolute;
            background-color: #00b380;
            top: 4rem;
            left: 0;
            width: 100%;

            @media (min-width: 768px) {
                position: relative;
                top: -1rem;
                background-color: transparent;
            }
        }
        &_ul {
            list-style-type: none;
            max-height: 0px;
            overflow: hidden;
            transition: all 0.5s;

            @media (min-width: 768px) {
                max-height: 4rem;
                padding: 1rem 0;
                text-align: right;
            }
        }

        &_li {
            padding: 0 1rem;
            @media (min-width: 768px) {
                display: inline-flex;
                padding-left: 2rem;
            }
        }

        &_link {
            display: inline-block;
            padding: 1rem;
            /* Add your custom styles below to change appearance of links */
            color: #dae1e7;
            font-size: 1.2rem;
            text-decoration: none;
            letter-spacing: 0.05rem;

            &:hover {
                color: #7ef4d2;
            }
        }
    }
}

#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 12.5rem;
    padding: 1rem 0;
    transition: all 0.5s;
}

.message {
    &_text {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    &_link {
        text-align: center;
        font-size: 1.1rem;
        color: #018962;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
            color: #00b380;
        }
    }

    &_button {
        border: none;
        border-radius: 2rem;
        box-shadow: 0px 1px 3px #666666;
        color: #ffffff;
        font-size: 2rem;
        background: #00b380;
        padding: 1rem 2rem;

        &:hover {
            cursor: pointer;
            background: #62bea4;
        }
    }

    &_single_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 70%;
        padding: 5%;
        margin: 5vh 10%;
        border-radius: 8px;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    }
}
